:root {
    --accent-color: hwb(190 21% 51%);
    --accent-color-light: hsl(190, 39%, 43%);
    --accent-text-color: hsl(190, 40%, 95%);
    --bdrs: 0.33em;
    --bdw: 1px;
    --gap: 0.5em;
    --gray-1: #f1f3f5;
    --gray-3: #dee2e6;
    --gray-6: #868e96;
    --gray-9: #212529;
}

.container {
    display: flex;
    flex-direction: column;
    /* if we want to center on large screens */
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

button {
    color: var(--accent-text-color);
    background: var(--accent-color);
    cursor: pointer;
    border: 0;
}

button:active {
    opacity: 0.8;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: var(--gray-9);
    font-size: 3em;
    margin: 0 0 0 0;
}

.timeslot {
    display: flex;
}

.timeslot,
.timeslot fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap);
}

.timeslot fieldset {
    border: var(--bdw) solid var(--gray-6);
    border-radius: var(--bdrs);
    padding: var(--gap);
}

.timeslot fieldset:has(input:checked) {
    background-color: var(--gray-1);
}

.timeslot fieldset:has(input:checked) input:not(:checked) + time {
    background-color: var(--accent-text-color);
}

.timeslot fieldset:has(input:checked) legend {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.timeslot legend {
    background-color: var(--gray-3);
    border-radius: var(--bdrs);
    color: var(--gray-9);
    font-size: small;
    display: grid;
    line-height: 1.1;
    padding: calc(var(--gap) / 2) var(--gap);

}

.timeslot legend > span {
    display: block;
    font-size: x-large;
    text-align: center;
    font-family: 'Satisfy', cursive;

}

.timeslot time {
    background-color: var(--gray-1);
    border: var(--bdw) solid var(--gray-3);
    border-radius: calc(var(--bdrs) - calc(2 * var(--bdw)));
    display: block;
    padding: var(--gap);
    text-align: center;
    user-select: none;
    font-weight: 500;
    letter-spacing: .1em;
}

.timeslot label:focus-within {
    /* box-shadow: 0 0 0 2px var(--accent-color); */
}

.timeslot input:checked + time {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.timeslot input:disabled + time {
    color: var(--gray-6);
    text-decoration: line-through;
}

[data-sr] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* sticky top and bottom */
.sticky-top, .sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    display: none;
    justify-content: end;
}
.sticky-top {
    top: 0;
    margin-top: -60px;
}
.sticky-bottom {
    display: flex;
    bottom: 0;
    margin-right: -20px;
}
.sticky-top a,
.sticky-bottom a {
    margin: 20px 0;
    width: 60px;
    height: 60px;
    color: var(--accent-text-color);
    background: var(--accent-color);
    border-radius: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* popup */
.popup {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup.open {
    opacity: 1;
    z-index: 999;
}

.popup-inner {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 15px 25px;
    text-align: center;
    width: 320px;
}

.popup-inner h2 {
    margin: 0;
}

.popup-inner p {
    line-height: 24px;
    margin: 10px 0;
}

.popup button {
    border-radius: calc(var(--bdrs) * 2);
    padding: 10px 25px;
}


@media (min-width: 800px) {
    .container {
        flex-direction: column;
        max-width: 780px;
    }
    .timeslot { flex-direction: row; }
    .sticky-top { display: flex; }
    .sticky-bottom { display: none; }
    .front {
        /* hides the button when flipped */
        overflow: hidden;
    }
}

body {
    font-family: ui-sans-serif, system-ui, snas-serif;
    background-color: var(--gray-1);
    padding: 0.5ch 2ch;
    overscroll-behavior-y: contain;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Edge, IE */
    user-select: none; /* Modern browsers */
}

mark {
    background-color: hsl(190, 40%, 85%);
}
/* rounded button */
.rounded-button {
    width: 80px;
    height: 80px;
    margin: 15px 13px;
    border-radius: 50%;
    font-size: 14px;
}
.rounded-button:disabled { background: var(--gray-6); }

/* cross button */
.cross-stand-alone {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 20px;
    height: 20px;
}
.cross-stand-alone:before, .cross-stand-alone:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
    border-radius: 4px;
}
.cross-stand-alone:before {
    transform: rotate(45deg);
}
.cross-stand-alone:after {
    transform: rotate(-45deg);
}
.cross-stand-alone span {
    display: block;
}
/* end cross button */

/* flipcard */
.card {
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}
.card.flipped { transform: rotateY(-180deg); }
.front { }
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--gray-1);
    color: var(--gray-9);
    transform: rotateY(180deg);
}

/* confirmation card */
.confirmation-card {
    max-width: 360px;
    margin: 0 auto;
    font-size: large;

}
p input[type=text] {
    width: 100%;
    padding: 12px;
    border: 2px solid var(--accent-color);
    border-radius: var(--bdrs);
    box-sizing: border-box;
    background-color: var(--gray-1);
    color: var(--gray-9);
    font-size: large;
    font-weight: normal;
}
.p input[type=text]:focus {
    border-color: var(--accent-color);
    background-color: var(--accent-color-light) ;
}
.confirmation {
    background: var(--accent-color);
    color: var(--accent-text-color);
    border-radius: var(--bdrs);
    display: block;
    padding: var(--gap);
    font-size: large;
    margin: 25px 0;
}

.confirmation input[type=text] {
    -webkit-appearance: none;
    appearance: none;
    user-select: none;
    width: 200px !important;
    letter-spacing: normal;
    border: none;
    font-size: large;
    font-weight: bold;
    background: var(--accent-color);
    color: var(--accent-text-color);
}
.confirmation-card input[type=button]{
    background: var(--accent-color);
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: var(--accent-text-color);
}

/* containers */
.right {
    text-align: right;
}
